// VARIABLES
// ==========================================================================
// COLOR VARIABLES
$color-white: #fff;
$color-black: #000;
$color-black-light: #272727;
$color-black-lighter: #ebebeb;
$color-dark-lighter: #2c2c2e;

$color-primary: #0050c8;
$color-primary-light: #dfe9f8;
$color-primary-dark: #003c96;

$color-success: #39c049;
$color-success-secondary: #2b9037;
$color-success-light: #e6f7e8;

$color-error: #c81400;
$color-error-secondary: #ff4b33;
$color-error-hover-secondary: #e6432e;
$color-red-secondary: #fa2d19;
$color-error-hover: #960f00;
$color-light-red: #f8e2df;

// RESPONSIVE
$breakpoints: (
  'lg-large': (
    max-width: 1440px,
  ),
  'lg-medium': (
    max-width: 1320px,
  ),
  'lg-small': (
    max-width: 1280px,
  ),
  'lg': (
    max-width: 1200px,
  ),
  'md-large': (
    max-width: 1024px,
  ),
  'md': (
    max-width: 992px,
  ),
  'sm': (
    max-width: 768px,
  ),
  'xs': (
    max-width: 320px,
  ),
  'xs-m': (
    max-width: 375px,
  ),
  'xs-l': (
    max-width: 575px,
  ),
  'xs-l-landscape': (
    min-width: 320px,
  )
  and
  (
    max-width: 575px,
  )
  and
  (
    orientation: landscape,
  ),
  'min-sm-height': (
    min-height: 1024px,
  ),
  'min-sm-medium': (
    min-width: 575px,
  ),
  'min-sm': (
    min-width: 769px,
  ),
  'min-sm-large': (
    min-width: 850px,
  ),
  'min-md': (
    min-width: 992px,
  ),
  'min-md-large': (
    min-width: 1024px,
  ),
  'min-md-large-portrait': (
    min-width: 768px,
  )
  and
  (
    max-width: 1024px,
  )
  and
  (
    orientation: portrait,
  ),
  'min-md-large-landscape': (
    min-width: 768px,
  )
  and
  (
    max-width: 1024px,
  )
  and
  (
    orientation: landscape,
  ),
  'min-lg-small': (
    min-width: 1170px,
  ),
  'min-lg': (
    min-width: 1200px,
  ),
  'min-lg-medium-small': (
    min-width: 1300px,
  ),
  'min-lg-medium': (
    min-width: 1320px,
  ),
  'min-lg-large': (
    min-width: 1440px,
  ),
);

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query));

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
    +'Please make sure it is defined in `$breakpoints` map.';
  }
}
