@import '../styles/global';

.page {
  font-family: Georgia, sans-serif;
  height: 100%;
  padding-top: 16px;
}

.title {
  padding-left: 16px;
  height: 32px;

  @include respond-to('xs-l') {
    padding: 32px;
  }
}

.details {
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;

  @include respond-to('xs-l') {
    padding: 16px;
    flex-direction: column;
  }
}

.numbers {
  display: flex;

  height: fit-content;
  padding-bottom: 16px;
  width: 100%;
}

.trend {
  flex-grow: 1;
  margin: 0 0 0 4px;

  @include respond-to('xs-l') {
    margin: 8px 0 0 0;
    flex-grow: 0;
    width: 100%;
  }
}

.timeline {
  padding: 16px;
}
