.countryList {
  margin: auto;
  padding: 32px;
}

.countryName {
  font-size: 16px;
}

.countryNameNormal {
  font-size: 16px;
  background-color: lightgreen;
}

.countryNameFiltered {
  font-size: 16px;
  background-color: lightsalmon;
}
