@import '../styles/global';

.navBar {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: white;
  padding-right: 32px;

  @include respond-to('xs-l') {
    flex-direction: column;
  }
}

.navTitle {
  flex-grow: 1;
  align-content: center;
  padding-left: 32px;
  background-color: whitesmoke;
}

.navMenu {
  align-self: flex-end;
  width: fit-content;
  height: fit-content;
}
