@import '../styles/global';

.navBar {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-right: 32px;

  @include respond-to('xs-l') {
    flex-direction: column;
  }
}

.navTitle {
  align-content: center;
  padding: 8px 32px 0 32px;
}

.navMenu {
  align-self: flex-end;
  width: fit-content;
  height: fit-content;
}
